# .env
# Twitch API
TWITCH_CLIENT_ID=twitchtoken
TWITCH_CLIENT_SECRET=twitchsecret

# Twitch IRC Keys
TWITCH_TOKEN=twitchtokenforchat
TWITCH_NICK=twitchnick
TWITCH_CHANNELS=xqc,shroud,pokimane,ninja,summit1g,lirik,sodapoppin,timthetatman,nickmercs,drlupo,moistcr1tikal,hasanabi,mizkif,ludwig,sovietwomble

# Kafka
KAFKA_BROKER=kafka ip (doesnt matter for docker build)
KAFKA_TOPIC_TWITCH_API=twitch_streams
KAFKA_TOPIC_TWITCH_CHAT=twitch_chat_stream

# MinIO
MINIO_ENDPOINT_LOCAL=minio ip (doesnt matter for docker build)
MINIO_ENDPOINT_DOCKER=http://minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123
MINIO_BUCKET=twitch-data

# MongoDB Atlas
MONGO_URI=mongo ip (doesnt matter for docker build)
MONGO_DB_ANALYTICS=twitch_analytics
MONGO_DB_CHAT=twitch_chat

# Chat Spark Configuration
SENTIMENT_WINDOW_MINUTES=5
PRODUCER_INTERVAL_MIN=0.5
PRODUCER_INTERVAL_MAX=1.5